body {
  margin: 0 auto;
}

.logo-box {
  position: absolute;
  top: 15px;
  left: 20px;
}

.logo {
  height: 100px;
}

.ScrollStyle {
  max-height: 100vh;
  overflow-y: scroll;
}

.main-content {
  display: flex;
  flex-direction: row;
}

.main-content-1 {
  background-color: #c6f7f2;
}

.box {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 40px;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Georgia";
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #0f7067;
  text-align: center;
  font-size: 30px;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #0f7067;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #b7cbeb;
  outline: none;
  background: transparent;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.box input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  color: #0f7067;
  background: #c6f7f2;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.box a {
  background: transparent;
  border: none;
  outline: none;
  color: #1d365e;
  background: #b7cbeb;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

::placeholder {
  color: #0f7067;
  opacity: 0.4;
}

.main-content-2 {
  padding: 50px;
  min-height: 100vh;
}

.meme {
  background-color: #c6f7f2;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 20px;
  font-family: "Georgia";
}
.owner {
  font-weight: bold;
  color: #0f7067;
  padding: 20px;
}

.caption {
  font-size: 20px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  color: #0f7067;
}

.pic-container {
  margin: auto;
  padding: 20px 0;
}

.pic {
  box-shadow: 0 15px 25px rgba(6, 45, 41, 0.2);
  border-radius: 3px;
}

.bttn {
  background: transparent;
  border: none;
  outline: none;
  color: #0f7067;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background: white;
  box-shadow: 0 15px 25px rgba(6, 45, 41, 0.2);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
}

.shadowed {
  -webkit-filter: drop-shadow(5px 5px 5px rgb(180, 180, 180));
  filter: drop-shadow(5px 5px 5px rgb(180, 180, 180));
}
